body            { margin: 2em; }

h1              { font-size: 3.5em;
                  font-family: serif;
                  border-bottom: 3px solid rgb(245, 27, 27); }

h2              { margin-top: 2em; 
                  margin-left: 6px; 
                  margin-bottom: 0.6em; }

p               { margin-top: 3.5em; 
                  margin-left: 5px; }

td              { padding-right: 5px; 
                  padding-bottom: 10px; }

.form           { background-color: rgb(253, 233, 209);
                  border-radius: 15px;  
                  width: 70em;  
                  padding: 5px; 
                  padding-top: 10px; }

.geo_space      { padding-left: 15em; }

.material_space { padding-left: 15em; }

.load_space     { padding-left: 4.5em; }

.safety_space   { padding-left: 24em; }





