body            { font-family: serif;
                  margin: 2em; }

h1              { font-size: 3.5em;
                  font-family: serif;
                  border-bottom: 3px solid rgb(245, 27, 27); 
                  word-spacing: 15px; }

h2              { margin-top: 2em; 
                  margin-left: 6px; 
                  margin-bottom: 0.6em; }

p               { margin-top: 3.5em; 
                  margin-left: 5px; }

td              { font-size: 1.05em;
                  padding-right: 5px; 
                  padding-bottom: 10px; }

.form           { background-color: rgb(253, 233, 209);
                  border-radius: 15px;  
                  width: 70em;  
                  padding: 5px; 
                  padding-top: 10px; }

.geo_space      { padding-left: 19.5em; }

.material_space { padding-left: 15em; }

.load_space     { padding-left: 5em; }

.safety_space   { padding-left: 24em; }

.other_space    { padding-left: 17em; }

h4              { margin-top: 1.5em;}

.result         { margin-left: 6px;
                  line-height: 1.5; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}





